.container {
  width: 100%;
  display: flex;
  background-color: #9ec5ff;
  box-shadow: -10px 0px 25px #404040;
}

.content {
  width: 75%;
  flex-grow: 1
}

.menu {
  background: #c9dfff;
  min-width: 175px;
  flex-grow: 2;
  border-radius: 20px;
  margin: 10px;
  box-shadow: -10px 0px 25px #404040;
}

h1 {
  font-family: "Arial", serif;
  font-weight: 200;
  margin-top: 0;
  color: white
}

span {
  font-family: "Arial", serif;
  font-weight: 200;
  margin-top: 0;
}

.main-container {
  background-color: #6197e8;
  height: 100%;
}

.dropdown-units, .dropdown-types {
  width: auto;
  padding: 20px;
}

select#unit, select#chartTypes {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-top: 10px;
}
