<div class="main-container">
    <h1 class="title">
      Statystyki spożycia artykułów konsumpcyjnych
    </h1>
  <div class="container">
    <div class="menu">
      <div class="dropdown-units">
        <span>Wyświetl produkty o jednostce: </span><br>
        <select id="unit"
                [(ngModel)]="currentUnit"
                (ngModelChange)="unitOnChange($event.toString())">
          <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
        </select>
      </div>
      <div class="dropdown-types">
        <span>Typ wykresu: </span><br>
        <select id="chartTypes"
                [(ngModel)]="currentChartType"
                (ngModelChange)="chartTypeOnChange($event.toString())">
          <option *ngFor="let type of chartTypes" [value]="type">{{type}}</option>
        </select>
      </div>
    </div>
    <div class="content">
      <app-chart>
      </app-chart>
    </div>
  </div>
</div>
