<div class="main-container">
  <h1 class="title">
    Statystyki spożycia artykułów konsumpcyjnych
  </h1>
  <div class="container">
    <div class="menu">
      <div class="dropdown-units">
        <span>Wyświetl produkty o jednostce: </span><br>
        <select id="unit"
                [(ngModel)]="currentUnit"
                (ngModelChange)="unitOnChange($event.toString())">
          <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
        </select>
      </div>
      <div class="dropdown-types">
        <span>Typ wykresu: </span><br>
        <select id="chartTypes"
                [(ngModel)]="currentChartType"
                (ngModelChange)="chartTypeOnChange($event.toString())">
          <option *ngFor="let type of chartTypes" [value]="type">{{type}}</option>
        </select>
      </div>
      <div class="datePicker">
        <div class="year-from">
          <span>Rok od: </span><br>
          <input id="yearFrom"
                 type="number"
                 min="2000"
                 max="2017"
                 [(ngModel)]="yearFrom"
                 (ngModelChange)="yearFromChange($event.toString())">
        </div>
        <div class="year-to">
          <span>Rok do: </span><br>
          <input id="yearTo"
                 type="number"
                 min="2000"
                 max="2017"
                 [(ngModel)]="yearTo"
                 (ngModelChange)="yearToChange($event.toString())">
        </div>
      </div>
    </div>
    <div class="content">
      <app-chart>
      </app-chart>
    </div>
  </div>
</div>
